.table {
    // border-top: 5px solid #05668c;
    thead {
        tr>th {
            // text-align: center;
            // vertical-align: middle;
            // border-top: none !important;
            // border-bottom-color: #dddddd !important;
            // border-bottom-width: 2px;
        }
    }
    tbody {
        tr>td {
            // vertical-align: middle;
            // border-top: none !important;
            &.no-padding {
                padding: 0 !important;
            }
            &.tdtext {
                text-align: left;
            }
            &.tdnumber {
                text-align: right;
            }
            &.tddate,
            &.tdbutton,
            &.tdicon,
            &.tdsimbol {
                text-align: center;
            }
        }
    }
}

@media(max-width: 500px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table td {
        text-align: right !important;
        padding-left: 50%;
        text-align: right !important;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}

.tab-container {
    ul>li {
        flex: auto;
        border-top: 4px solid #05668c;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        font-weight: bold;
        text-align-last: center;
        &:not(.active) {
            background-color: rgb(142, 142, 146);
            border-color: rgb(56, 56, 58);
            a {
                color: rgb(56, 56, 58);
                font-weight: bold;
            }
        }
    }
}