<table class="styled-table table">
    <thead>
        <tr>
            <th>{{config.header1}}</th>
            <th>{{config.header2}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listUsers">
            <td>
                <app-user [data]="{id: item.id, name: item.login, pathImage: item.avatar_url}"></app-user>
            </td>
            <td class="tdnumber">
                <button [class]="config.button.class" (click)="onShowModal(item.subscriptions_url)">
                    <i [class]="config.button.icon"></i>
                    {{config.button.tittle}}
                </button>
            </td>
        </tr>
    </tbody>
</table>