<table class="styled-table">
    <thead>
        <tr>
            <th>Usuarios</th>
            <th>subscripciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of listUsers">
            <td>
                <app-user [data]="{id: item.id, name: item.login, pathImage: item.avatar_url}"></app-user>
            </td>
            <td class="tdbutton">
                <button class="btn btn-outline-secondary" (click)="onShowModal(item.subscriptions_url)">
                    <i class="fas fa-user-plus"></i>
                    Más
                </button>
            </td>
        </tr>
    </tbody>
</table>