<div class="tabs">
    <tabset>
        <tab [active]="true" class="flex-auto" heading="Cargos activos" id="tab1">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i> No hay registros de cargos activos
            </div>
        </tab>
        <tab [active]="false" class="flex-auto" heading="Cargos pasivos" id="tab2">
            <div class="alert alert-warning" role="alert">
                <i class="fas fa-exclamation-triangle"></i> No hay registros de cargos pasivos
            </div>
        </tab>
    </tabset>
</div>