<div class="home">
    <div class="banner">
        <div class="banner-description">
            <div class="img">
                <img src="assets/img/planet.png" alt="medicine" width="100" height="auto">
            </div>
            <div class="text">
                <h3>Where the world builds software</h3>
                <p>
                    Millions of developers and companies build, ship, and maintain their software on GitHub—the largest and most advanced development platform in the world.
                </p>
            </div>
        </div>
        <img src="assets/img/gitlogo.png" alt="farmacia" width="500" height="auto">
    </div>
    <div class="subtitle">

        <h4><i class="fab fa-github-alt"></i> Usuarios</h4>
        <hr>

        <app-user-table [listUsers]="listUsers"></app-user-table>
    </div>